<footer class="footer">
    <div class="container">

    <div class="ftBox">
        <div>
            <nav class="nav">
                <ul class="menu">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="product-optical.html">系列鏡框</a></li>
                    <li><a href="contact.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="faq.html">常見問題</a></li>
                </ul>
            </nav>

            <div class="ftInfo">
                <div class="ftInfo__item">
                    <span class="material-symbols-outlined">call</span>
                    <p class="ftInfo__item__txt">0800-000-000</p>
                </div>
                <div class="ftInfo__item">
                    <span class="material-symbols-outlined">mail</span>
                    <p class="ftInfo__item__txt">glasses@business.com</p>
                </div>
            </div>
        </div>

        <ul class="ftIcon">
            <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
            <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
            <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
        </ul>
    </div>

    <div class="copyright">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <div class="copyright__right">
            <span>隱私權政策</span>
            <span>服務條款</span>
        </div>
    </div>
</footer>    
